<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardComment">

	<insert id="boardCommentInsert">
		insert into
			comment_board
		values (
			comment_board_seq.nextval,
			#{ boardCommentLevel },
			#{ boardCommentWriter },
			#{ boardCommentContent },
			#{ perNo },
			#{ boardCommentRef },
			default
		)		
		
	</insert>
	
	<select id="selectCommentList" resultMap="commentListMap">
		select
			*
		from
			comment_board	
		where 
			per_no = #{ perNo }	
		order by
			board_comment_date
			desc
	</select>
	
	<delete id="boardCommentDelete">
		delete from 
			comment_board
		where 
			board_comment_no = #{ boardCommentNo } 
	</delete>
	
	<select id="selectReviewList" resultMap="reviewMap">
		select
			*
		from
			review_comment
		where
			per_no = #{ perNo }
		order by review_comment_date desc
	</select>
	
	<select id="searchReservationMember" resultType="string">
		select 
		        distinct(P.member_id)
		from pay P
		    join schedule S
		        on P.sch_no = S.sch_no
		    join performance PF
		        on S.per_no = PF.per_no
		where P.member_id=#{ memberId }
		        and S.per_no = #{ perNo }
	</select>
	
	<insert id="insertReview">
		insert into review_comment values(
		    review_comments_seq.nextval,
		    #{ reviewCommentContent },
		    default,
		    #{ perNo },
		    #{ memberId }
		)
	</insert>
	
	
	<resultMap type="boardComment" id="commentListMap">
	</resultMap>
	<resultMap type="reviewComment" id="reviewMap">
	</resultMap>
	
	
	
</mapper>