<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="performance">
	
	<insert id="performanceRegister">
		insert into
			performance
		values (
			performance_seq.nextval,
			#{ memberId },
			#{ categoryCode },
			#{ locationCode },
			#{ perTitle },
			#{ perDirector },
			#{ perActor },
			#{ theaterNo },
			#{ perTime },
			#{ perContent },
			#{ perImgOriginalFileName },
			#{ perImgRenamedFileName },
			#{ detailImgOriginalFileName },
			#{ detailImgRenamedFileName },
			#{ perRating },
			default,
			default,
			default,
			#{ perStartDate },
			#{ perEndDate },
			default
			
		)
	</insert>
	
	<select id="selectPerformanceList" resultMap="performanceMap">
		select
			*
		from
			performance
		
		order by
			per_register_date
			desc
	</select>
	
	<select id="categoryListView" resultMap="perJoinMap">
		select
			*
		from
			performance_join_view
		where 
			category_code = #{ category }
	</select>
	
	<select id="getCategoryName" resultType="string">
		select 
			category_name
		from
			category
		where
			category_code = #{ category }
	</select>
	
	<update id="approvePerRegister">
		update 
			performance
		set 
			admin_approval = 'Y'
		where 
			per_no = #{ perNo }
	</update>
	
	<select id="adminApprovalPerList" resultMap="performanceMap">
		select
			*
		from
			performance
		where
			admin_approval = 'N'
		<!-- order by
			no desc -->
	</select>
	
	<select id="companyPerList" resultMap="performanceMap">
		select
			*
		from
			performance
		where
			member_id = #{ memberId } <!-- and admin_approval = 'Y' -->
		<!-- order by
			no desc -->
	</select>
	
	<select id="selectOnePerformance" resultMap="performanceMap">
		select
			*
		from
			performance
		where
			per_no = #{ perNo }
		<!-- order by
			no desc -->
	</select>	
	
	<select id="searchHallName" resultMap="performanceHallMap">
		select
			*
		from
			theater
		where
			upper(theater_name) like '%'||upper(#{ keyword })||'%'
	</select>			
	
	<update id="perUpdate">
		update 
			performance
		set 
			category_code = #{ categoryCode },
			location_code = #{ locationCode },
			per_title = #{ perTitle },
			per_director = #{ perDirector },
			per_actor = #{ perActor },
			per_time = #{ perTime },
			per_content = #{ perContent },
			per_img_original_filename =#{perImgOriginalFileName},
			per_img_renamed_filename=#{perImgRenamedFileName},
			detail_img_original_filename=#{detailImgOriginalFileName},
			detail_img_renamed_filename=#{detailImgRenamedFileName},
			per_rating = #{ perRating },
			per_start_date = #{ perStartDate },
			per_end_date = #{ perEndDate }
		where 
			per_no = #{ perNo }
	</update>	

	<insert id="wishListInsert">
		insert into
			wishlist
		values (
			#{ memberId },
			#{ perNo },
			default
			
		)
	</insert>
	
	<delete id="wishListDelete">
		delete from 
			wishlist
		where 
			member_id = #{ memberId } and per_no = #{ perNo }
	</delete>
	
	<select id="wishListView" resultMap="myWishListMap">
		select
			*
		from
			wishlist_view 
		where
			member_id = #{ memberId } 
		<!-- order by
			no desc -->
	</select>	

	<select id="getPerNo" resultType="_int">
		select 
			per_no
		from
			performance
		where
			per_title like #{ perTitle }
	</select>
	
	<insert id="insertSchedule">
		insert into
			schedule
		values(
			schedule_seq.nextval,
			#{ perNo },
			null,
			#{ parseDate }
		)
	
	</insert>	
	
	<insert id="recentlyPerListInsert">
		insert into
			recently_per_list
		values (
			#{ memberId },
			#{ perNo },
			default
			
		)
	</insert>
	
	<select id="recentlyPerList" resultMap="MyRecentlyPerListMap">
		select
			*
		from
			recently_per_list_view
		where
			member_id = #{ memberId } 
		order by
			recently_date desc 
	</select>
	
	<delete id="recentlyPerListDelete">
		delete from 
			recently_per_list
		where 
			member_id = #{ memberId } and per_no = #{ perNo }
	</delete>
	
	<select id="selectPerSchedule" resultMap="perSchedule">
		select
			*
		from
			schedule
		where
			per_no = #{ perNo }
		order by
			sch_date_time
	</select>
	
	<update id="addRecommendedPer">
		update 
			performance
		set 
			per_display = 'Y'
		where 
			per_no = #{ perNo }
	</update>
	
	<update id="turnOffRecommendedPer">
		update 
			performance
		set 
			per_display = 'N'
		where 
			per_no = #{ perNo }
	</update>
	
	<delete id="deleteDate">
		delete from schedule
			where sch_no = #{ schNo }
	</delete>
	
	<select id="searchPerformance" resultMap="perJoinMap">
		select 
			*
		from
			performance_join_view
		where
			upper(per_title) like '%'||upper(#{ keyword })||'%'
	</select>
	

	<select id="selectCategoryListTotalContents" resultType="_int">
	    select 
	    	count(*) 
	    from 
	    	performance	
	    where category_code = #{ category }
	</select>
	

	
	<select id="searchPerformanceList" resultMap="performanceMap">
		select 
			*
		from(
        	select
                rownum as rnum,
                P.*
        	from 
                (select
                       *
                from
                    performance
                <where>
                    <if test='searchType.equals("companyId")'>
                    upper(member_id) like '%'||upper(#{ keyword })||'%'
                    </if>
                    <if test='searchType.equals("perTitle")'>
                    upper(per_title) like '%'||upper(#{ keyword })||'%'
                    </if>
                </where>
                order by per_no
                )P
		)
		where rnum between #{ start } and #{ end } 
	</select>
	
	<select id="selectTotalPerformanceList" resultType="_int">
		select 
			count(*)
		from
			performance
		<where>
			<if test='searchType.equals("companyId")'>
			upper(member_id) like '%'||upper(#{ keyword })||'%'
			</if>
			<if test='searchType.equals("perTitle")'>
			upper(per_title) like '%'||upper(#{ keyword })||'%'
			</if>
		</where>
	</select>	
	
	<select id="allPerformanceList" resultMap="performanceMap">
		select 
			*
		from(
        	select
                rownum as rnum,
                P.*
        	from 
                (select
                       *
                from
                    performance
                
                order by per_display
                )P
		)
		where rnum between #{ start } and #{ end } 
	</select>
	
	<select id="totalAllPerformanceList" resultType="_int">
		select 
			count(*)
		from
			performance
		where per_display = 'N'
	</select>		
	
	<resultMap type="performance" id="performanceMap">
	</resultMap>
	<resultMap type="performanceHall" id="performanceHallMap">
	</resultMap>
	<resultMap type="wishList" id="wishListMap">
	</resultMap>		
	<resultMap type="myWishList" id="myWishListMap">
	</resultMap>		
	<resultMap type="myRecentlyPerList" id="MyRecentlyPerListMap">
	</resultMap>		
	<resultMap type="schedule" id="perSchedule">
	</resultMap>
	<resultMap type="perJoin" id="perJoinMap">
	</resultMap>
	
</mapper>