<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="performance">
	
	<insert id="performanceRegister">
		insert into
			performance
		values (
			performance_seq.nextval,
			#{ memberId },
			#{ categoryCode },
			#{ locationCode },
			#{ perTitle },
			#{ perDirector },
			#{ perActor },
			#{ theaterNo },
			#{ perTime },
			#{ perContent },
			#{ perImgOriginalFileName },
			#{ perImgRenamedFileName },
			#{ detailImgOriginalFileName },
			#{ detailImgRenamedFileName },
			#{ perRating },
			default,
			default,
			default,
			#{ perStartDate },
			#{ perEndDate },
			default,
			#{ aloneSale }
			
		)
	</insert>
	
	<select id="selectPerformanceList" resultMap="performanceMap">
		select
			*
		from
			performance
		
		<!-- where member_id = 'company2' -->
		where admin_approval = 'Y'
		order by
			per_register_date
			desc
	</select>
	
	<select id="selectCategoryList" resultMap="performanceMap">
		select
			*
		from
			performance
		
		where category_code = #{ category } and admin_approval = 'Y'
		order by
			per_register_date
			asc
	</select>
	
	<select id="categoryListView" resultMap="perJoinMap">
		select 
		        *
		from(
		 	select
		        rownum as rnum,
				P.*
			from
				performance_join_view P
			where 
				category_code = #{ category } and admin_approval = 'Y'
		    )P
		where rnum between #{ start } and #{ end }
	</select>
	
	<select id="getCategoryName" resultType="string">
		select 
			category_name
		from
			category
		where
			category_code = #{ category }
	</select>
	
	<update id="approvePerRegister">
		update 
			performance
		set 
			admin_approval = 'Y'
		where 
			per_no = #{ perNo }
	</update>
	
	<select id="adminApprovalPerList" resultMap="performanceMap">
		select
			*
		from
			performance
		where
			admin_approval = 'N'
		<!-- order by
			no desc -->
	</select>
	
	<select id="companyPerList" resultMap="performanceMap">
		select
			*
		from
			performance
		where
			member_id = #{ memberId } <!-- and admin_approval = 'Y' -->
		<!-- order by
			no desc -->
	</select>
	
	<select id="selectOnePerformance" resultMap="perJoinMap">
		select
			*
		from
			performance
		where
			per_no = #{ perNo }
		<!-- order by
			no desc -->
	</select>	
	
	<select id="selectOnePerJoin" resultMap="perJoinMap">
		select
			*
		from
			performance_join_view
		where
			per_no = #{ perNo }
	</select>	
	
	<select id="searchHallName" resultMap="performanceHallMap">
		select
			*
		from
			theater
		where
			upper(theater_name) like '%'||upper(#{ keyword })||'%'
	</select>			
	
	<update id="perUpdate">
		update 
			performance
		set 
			category_code = #{ categoryCode },
			location_code = #{ locationCode },
			per_title = #{ perTitle },
			per_director = #{ perDirector },
			per_actor = #{ perActor },
			theater_no = #{ theaterNo },
			per_time = #{ perTime },
			per_content = #{ perContent },
			per_img_original_filename =#{perImgOriginalFileName},
			per_img_renamed_filename=#{perImgRenamedFileName},
			detail_img_original_filename=#{detailImgOriginalFileName},
			detail_img_renamed_filename=#{detailImgRenamedFileName},
			per_rating = #{ perRating },
			per_start_date = #{ perStartDate },
			per_end_date = #{ perEndDate }
		where 
			per_no = #{ perNo }
	</update>	

	<insert id="wishListInsert">
		insert into
			wishlist
		values (
			#{ memberId },
			#{ perNo },
			default
			
		)
	</insert>
	
	<delete id="wishListDelete">
		delete from 
			wishlist
		where 
			member_id = #{ memberId } and per_no = #{ perNo }
	</delete>
	
	<select id="wishListView" resultMap="myWishListMap">
		select
			*
		from
			wishlist_view 
		where
			member_id = #{ memberId } 
		<!-- order by
			no desc -->
	</select>	

	<select id="getPerNo" resultType="_int">
		select 
			per_no
		from
			performance
		where
			per_title like #{ perTitle }
	</select>
	
	<insert id="insertSchedule">
		insert into
			schedule
		values(
			schedule_seq.nextval,
			#{ perNo },
			null,
			#{ parseDate },
			null
		)
	
	</insert>	
	
	<insert id="recentlyPerListInsert">
		insert into
			recently_per_list
		values (
			#{ memberId },
			#{ perNo },
			default
			
		)
	</insert>
	
	<select id="recentlyPerList" resultMap="MyRecentlyPerListMap">
		select
			*
		from
			recently_per_list_view
		where
			member_id = #{ memberId }
		order by
			recently_date desc 
	</select>
	
	<delete id="recentlyPerListDelete">
		delete from 
			recently_per_list
		where 
			member_id = #{ memberId } and per_no = #{ perNo }
	</delete>
	
	<select id="selectPerSchedule" resultMap="perSchedule">
		select
			*
		from
			schedule
		where
			per_no = #{ perNo }
		order by
			sch_date_time
	</select>
	
	<update id="addRecommendedPer">
		update 
			performance
		set 
			per_display = 'Y'
		where 
			per_no = #{ perNo }
	</update>
	
	<update id="turnOffRecommendedPer">
		update 
			performance
		set 
			per_display = 'N'
		where 
			per_no = #{ perNo }
	</update>
	
	<delete id="deleteDate">
		delete from schedule
			where sch_no = #{ schNo }
	</delete>
	
	<select id="searchPerformance" resultMap="perJoinMap">
		select 
			*
		from
			performance_join_view
		where
			upper(per_title) like '%'||upper(#{ keyword })||'%'
	</select>
	

	<select id="selectCategoryListTotalContents" resultType="_int">
	    select 
	    	count(*) 
	    from 
	    	performance	
	    where category_code = #{ category } and admin_approval = 'Y'
	</select>
	

	
	<select id="searchPerformanceList" resultMap="performanceMap">
		select 
			*
		from(
        	select
                rownum as rnum,
                P.*
        	from 
                (select
                       *
                from
                    performance
                <where>
                    <if test='searchType.equals("companyId")'>
                    upper(member_id) like '%'||upper(#{ keyword })||'%'
                    </if>
                    <if test='searchType.equals("perTitle")'>
                    upper(per_title) like '%'||upper(#{ keyword })||'%'
                    </if>
                </where>
                order by per_no
                )P
		)
		where rnum between #{ start } and #{ end } 
	</select>
	
	<select id="selectTotalPerformanceList" resultType="_int">
		select 
			count(*)
		from
			performance
		<where>
			<if test='searchType.equals("companyId")'>
			upper(member_id) like '%'||upper(#{ keyword })||'%'
			</if>
			<if test='searchType.equals("perTitle")'>
			upper(per_title) like '%'||upper(#{ keyword })||'%'
			</if>
		</where>
	</select>	
	
	<select id="allPerformanceList" resultMap="performanceMap">
		select 
			*
		from(
        	select
                rownum as rnum,
                P.*
        	from 
                (select
                       *
                from
                    performance 
                where 
                	per_display='N' and admin_approval = 'Y'
                order by per_display
                )P
		)
		where rnum between #{ start } and #{ end } 
	</select>
	
	<select id="totalAllPerformanceList" resultType="_int">
		select 
			count(*)
		from
			performance
		where per_display = 'N' and admin_approval = 'Y'
	</select>
	<select id="recommendList" resultMap="performanceMap">
		select 
			*
		from
			performance
		where per_display = 'Y' and admin_approval = 'Y'
	</select>		
	
	<select id="selectDate" resultMap="perSchedule">
		select
        	*
		from
        	schedule
		where
        	per_no = #{ perNo }
    		and extract(year from sch_date_time) = extract(year from to_timestamp(#{ newFormatDate }, 'yyyy-MM-dd HH24:mi:ss'))
    		and extract(month from sch_date_time) = extract(month from to_timestamp(#{ newFormatDate }, 'yyyy-MM-dd HH24:mi:ss'))
    		and extract(day from sch_date_time) = extract(day from to_timestamp(#{ newFormatDate }, 'yyyy-MM-dd HH24:mi:ss'))
	</select>
	
	<delete id="perDelete">
		delete from 
			performance
		where 
			per_no = #{ perNo }
	</delete>
	
	<select id="selectPerRank" resultMap="performanceMap">
		select 
		        * 
		from
		        (select
		                rownum as rnum,
		                P.*
		        from
		                (select 
		                        *
		                from
		                        performance P
		                    <choose>
		                    	<when test="code2 != null">
		                    		where category_code in (#{ code1 }, #{ code2 }) 
		                    	</when>
		                    	<otherwise>
		                    		where category_code = #{ code1 } 
		                    	</otherwise>
		                    </choose>
		                order by sale_cnt desc) P) P
		where rnum between 1 and 3
	</select>
	
	<select id="selectPickList" resultMap="performanceMap">
		select 
			* 
		from 
			performance 
		where per_display='Y' and admin_approval = 'Y'
	</select>
	
	<select id="commentPerList" resultMap="commentPerListMap">
		select
			*
		from
			comment_per_list_view
		where
			board_comment_writer = #{ boardCommentWriter } and admin_approval = 'Y'
		order by
			board_comment_date desc 
	</select>
		<select id="selectScheduleHall" resultType="_int">
		select theater_no
		from schedule
		where sch_no = #{schNo}
	</select>
	<select id="selectOneTheater" resultMap="performanceHallMap">
		select *
		from theater
		where theater_no = #{theaterNo}
	</select>
	
	<select id="allPerJoinList" resultMap="perJoinMap">
		select
			*
		from
			performance_join_view
 		<where>
			<if test='locationCode != null'>
				location_code = #{ locationCode } and admin_approval = 'Y'
			</if>
		</where> 
	</select>
	<select id="selectSeatList" resultMap="seatMap">
	select
		*
	from seat
	where theater_no = #{ theaterNo }
	</select>
	<insert id="addSelect">
	insert into
		selected
	values(
		#{ seatNo },
		#{ memberId},
		#{ schNo }
	)
	</insert>
	<resultMap type="performance" id="performanceMap">
	</resultMap>
	<resultMap type="performanceHall" id="performanceHallMap">
	</resultMap>
	<resultMap type="wishList" id="wishListMap">
	</resultMap>		
	<resultMap type="myWishList" id="myWishListMap">
	</resultMap>		
	<resultMap type="myRecentlyPerList" id="MyRecentlyPerListMap">
	</resultMap>		
	<resultMap type="schedule" id="perSchedule">
	</resultMap>
	<resultMap type="perJoin" id="perJoinMap">
	</resultMap>
	<resultMap type="commentPerList" id="commentPerListMap">
	</resultMap>
	<resultMap type="seat" id="seatMap">
	</resultMap>
	
</mapper>