@charset "UTF-8";

#carousel3d .carousel-3d-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  -webkit-transition: all .4s;
  transition: all .4s;
}
#carousel3d .carousel-3d-slide.current {
  color: #fff;
}
#carousel3d .carousel-3d-slide.current span {
  font-size: 20px;
  font-weight: 500;
}
#content,#carousel3d{
	height:500px;
}
.carousel-3d-container, .carousel-3d-slider, .carousel-3d-slide{
	height:500px !important;
	border-width:0px !important;
}
#main-container{
	text-align: center;
}

/* core styles */
.isystkSlider {
  position: relative;
  width: 650px;
  max-width: 100%;
  overflow: hidden;
}

.isystkSlider .view-layer {
  width: 578px;
  max-width: 100%;
  overflow: hidden;
}

.isystkSlider ul.parent{
  margin-bottom:10px;
}

.isystkSlider li.child{
  float:left;
}

.isystkSlider li.child p{
  margin:0 5px 0 0;
  border:solid 1px #dedede;
  background:#fff;
  padding:3px;
}

.isystkSlider img{
  vertical-align: middle;
}

/* controls */
.isystkSlider .prev-btn,
.isystkSlider .next-btn{
  position: absolute;
  top: 50%;
  margin-top: -1em;
  width: 30px;
}

.isystkSlider .prev-btn img,
.isystkSlider .next-btn img{
  width: 30px;
}

.isystkSlider .next-btn{
  right: 0;
}

.isystkSlider .paging {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 6px;
  width: 565px;
}

.isystkSlider .paging p{
  margin:0 5px 0 0;
  border:solid 1px #dedede;
  background:#fff;
  padding:3px;
}

.isystkSlider .paging.dot {
  width: 24%;
  margin: 5px auto;
}

.isystkSlider .paging.dot li {
  border: 1px solid #666;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  list-style-type: none;
}

.isystkSlider .paging.dot li.active {
  background: #666;
}